@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*
{
	padding: 0;
	margin:0;
	font-family: 'Roboto', sans-serif;

}



#nav-bar 
{
	position: sticky;
	top: 0;
	z-index: 10;

}
.navbar
{
	background-image:linear-gradient(to right,#00a9c9,#001cc9) ;

}
.navbar-brand img 
{
	height: 100px ;
	padding-left :80px;


}


.navbar-nav li
{
	padding: 0 10px ;

}
.navbar-nav li a 
{
	float: right;
	text-align: left;
	}
#nav-bar ul li a:hover
{
 	color: #960000!important;
}
.navbar-toggler-icon
{
	outline: none !important;
	color: #fff;
	font-size: 25px
}


.nav-link
{
	color: #fff!important;
	font-weight: 600;
	font-size:16px;

}


#banner
{
	
	background-image: linear-gradient(90deg,rgba(0,169,201,0.5) 26%, rgba(0,0,139,0.5) 80%, rgba(0,28,201,0.5) 100%),url("img/buildback.jpg");
  	color: #fff;
    padding-bottom:8%;
    padding-top :8%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
		
	}

.p-title 
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 50px;
	
}
.p-para
{
	margin-top: 50px;
	margin-bottom: 200px;

}
.img-fuild
{
	
    width: 95%;
    
    margin-left:25px; 


}

#services
{
	padding:80px 0; 
}
.service-img
{
	width: 75px;
	height: 75px;	
    margin-top: 20px;
	margin-bottom: 15px;
}
.services
{
	text-align: center;
	padding:30px;
	  

	
}
.services p {
	text-align: center;
}
.services h4 {
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.title 
{
	padding-bottom:50px;
	margin-top: 10px;
}

.title::before
{
	content: '';
	background:#00a9c9;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);

}
#check
{
	background-image: linear-gradient(90deg,rgba(0,169,201,0.5) 26%, rgba(0,0,139,0.5) 80%, rgba(0,28,201,0.5) 100%),url("img/preview.jpg");
  	color: #fff;
    padding-bottom:8%;
    padding-top :8%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;

}
.check h4 {
		background-color: black;
		width: 40%;
		border:1px solid ;
		border-radius: 10px;
		border-color:#00a9c9; 
		padding: 10px;
		margin-left: 25px;
		margin-top: 15%;



}
.check p {
	margin-left: 25px;





}
.esca h4 {
		background-color: black;
		width: 15%;
		border:1px solid ;
		border-radius: 10px;
		border-color:#00a9c9; 
		padding: 10px;
		margin-left: 22%;
		margin-top: 5%;


}
.esca p{
		
		
		
		margin-right: 20%;
		margin-left: 22%;


}
#contact
{
	padding:80px 0; 
}
.contact-img
{
	width: 75px;
	height: 75px;	
    margin-top: 20px;
	margin-bottom: 15px;
}
.contact
{
	text-align: center;
	padding:30px;
	  

	
}
.contact span {
	text-align: center;
}
.contact h3 {
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.title 
{
	padding-bottom:50px;
	margin-top: 10px;
}

.title::before
{
	content: '';
	background:#00a9c9;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);

}
#form
{
	background-image: linear-gradient(90deg,rgba(0,169,201,0.5) 26%, rgba(0,0,139,0.5) 80%, rgba(0,28,201,0.5) 100%),url("img/preview3.jpg");
  	color: #fff;
    padding-bottom:8%;
    padding-top :8%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;

}
input[type=text]:focus {
  border: 3px solid #555;
}
footer{
	background-image:linear-gradient(to right,#00a9c9,#001cc9) ;
	padding: 25px;

}
.contact-form{
	max-width: 800px;
	margin: 0 auto;
	background:rgb(0,0,0,0.8);
	padding :30px;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 0 10px rgba(0,0,0,0.13);
}
.input-fields
{
	display:flex;
	flex-direction:column;
	margin-right: 4%; 
}
.input-fields,
.msg{
	width: 48%;
}
.input-fields .input,.msg textarea
{
	margin:10px 0;
	background:transparent;
	border:0;
	border-bottom: 2px solid #c5ecfd;
	padding: 10px; 
	color: #c5ecfd;
	width: 100%;
}
.msg textarea
{
	height: 212px;
}
::-webkit-input-placeholder{
	color: #c5ecfd;

}
::-moz-input-placeholder{
	color: #c5ecfd;

}
::-ms-input-placeholder{
	color: #c5ecfd;

}
.btn {
	background-color: #39b7dd;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	color:#fff;
	cursor:pointer;
	text-transform: uppercase;

}
.animate    {-webkit-animation-duration:5s;animation-duration:5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp	{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
.fadeInDown	{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(40px);transform:translateY(40px);}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(40px);-ms-transform:translateY(40px);transform:translateY(40px);}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);}}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-40px);transform:translateY(-40px);}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-40px);-ms-transform:translateY(-40px);transform:translateY(-40px);}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);}}